@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --black: #000101;
  --white: #ffffff;
  --purple: #7a1ddd;
  --lightpurple: #cb9bff;
  --tan: #6b8987;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-variation-settings: "CRSV" 0, "slnt" 0;
}

.h0 {
  @apply text-3xl font-black md:text-5xl;
}

h1,
.h1 {
  @apply text-2xl font-black md:text-4xl;
}

h2,
.h2 {
  @apply text-xl font-bold md:text-3xl;
}

h3,
.h3 {
  @apply text-lg font-bold md:text-2xl;
}

h4,
.h4 {
  @apply text-base font-bold md:text-lg;
}

body,
.p {
  @apply text-sm md:text-base;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  transition: ease-in-out;
  transition-duration: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-decoration-color: var(--purple);
  font-variation-settings: "CRSV" 0, "slnt" 0, "wght" 350;
}

a:hover {
  color: var(--tan);
  text-decoration-thickness: 0.01;
  text-decoration-color: var(--black);
  font-variation-settings: "CRSV" 0, "slnt" -10, "wght" 700;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: inherit;
  src: url("/fonts/inter-var-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Libre Baskerville";
  font-weight: 400 700;
  font-display: inherit;
  src: url("/fonts/libre-baskerville-v5-latin-regular.woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
